<h1> new </h1>
<div class="row">
  <div class="col-md-4">
    <p> creating a wiki page </p>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki_page} %>
  </div>
</div>
