<h1> Downgrade </h1>
<%= "we're sad to hear you want a downgrade, although logically it doesn't make sense, cuz this upgrade was only a one time payment but since this is practice heres your option to downgrade" %>
<%= button_to "downgrading", downgrading_path %>
